.App {
  text-align: center;
  background: #185760;
}

.App-logo {
  margin-right: 1rem;
  animation: App-logo-spin infinite 20s linear;
  height: 1rem;
}

.App-header {
  padding-top: 1.3rem;
  background-color: #185760;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2ed0f8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
